.content {
    width: 70vw;
    background: #96383c;
    border-radius: 3em;   
    padding: 0 3em;
    color: white;
    
}
#ss3 {
    width: 30vw;
    height: 30vh;
    padding-left: 100px;
}
#ss4 {
    width: 30vw;
    height: 30vh;
    padding-left: 100px;
}
#ss61 {
    width: 30px;
    height: 10vh;
    padding-left: 300px;
}
p {
    font-weight: bold;
}
fieldset {
    border: 1px solid white;
    padding: 1em;
    margin-top: 1em;
    border-left: none;
    border-right: none;
    border-bottom: none;
    line-height: 25px;
}
.text {
    text-align: center;
}
.w11w10 {
    display: flex;
    gap: 3em;
    font-size: 20px;
    margin-left: 4em;
}
.text1 {
    font-size: 20px;
    margin-left: 1em;
}
#BMS {
    border: none; 
    background: #fefefe; 
    padding: 8px;
    font-size: 1em; 
    font-weight: 700; 
    border-radius: 5px; 
    margin-top: 2em; 
    cursor: pointer;
}
